.header {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/headerlogo.jpg);
    background-repeat: repeat;
    position: fixed;
    width: 100%;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.logo img {
    height: 37px;
    margin-right: 50px;
    padding: 10px;
}
.logo p {
    font-family: cursive;
}

.main {
    background-image: url(../img/mainimg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.bg-img {
    height: 100%;
    background: rgba(255,255,255,0.5);
  }
.bg-img:hover {
    background-image: url(../img/mainimg.jpg);
}
.name {
    font-size:  100px;
    margin-left: 100px;
    color: white;
    padding-top: 200px;
    font-family: "Gill Sans", sans-serif;
}
.section {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 20px;
    justify-content: center;
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;
}
.bgp {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}
.bgp img {
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-bottom: 50px; 
}
.bgp img:hover {
    background-color: rgba(231, 247, 7, 0.452)
}
.home {
    width: 800px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    margin-left: 130px;
}
.home div {
    margin: 0 auto;
    position: absolute;
    border-right: 600px solid transparent;
    border-bottom: 150px solid rgba(238, 232, 170,.5);
    border-left: 600px solid transparent; 
}
.house {
    width: 800px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.house li {
    width: 100px;
    height: 400px;
    background-color: rgba(238, 232, 170,.5);
}
.house-last p {
    width: 1020px;
    height: 100px;
    margin-top: 100px;
    margin-left: 220px;
    position: absolute;
    background-color: rgba(238, 232, 170,.5);
    margin-bottom: 200px;
}
.house img {
    width: 200px;
    height: 200px;
    /* text-align: center; */
    margin-top: 100px;
    margin-right: 50px;
    border-radius: 50%;
    border: 5px solid white;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/headerlogo.jpg);
    background-repeat: repeat;
    position: fixed;
    bottom: 0;
    width: 100%; 
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.name-logo {
    font-family: cursive;
    font-size: 30px;
}