.header {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 80px;
   font-family: 'Arial Rounded MT Bold',sans-serif;
}
.icon {
    width: 50px;
    height: 50px;
    padding: 15px 0 0 30px;
}
.list {
    display: flex;
    list-style: none;
}
.list li {
    margin-left: 20px;
    color: black;
    padding: 25px 0 0 30px;
}
.fas {
    margin-right: 10px;
}
.fas:hover {
    color: red;
}
main p {
    padding-left: 180px;
}
.fa-star {
    color: rgba(255, 238, 0, 0.938);
    display: none;
}
main {
    background-image: url(../img/top_bannerbg_hoshinoya@2x.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 88vh;
    opacity: 0.7;
}
h1 {
    padding: 250px 0 0 180px;
    font-family: 'Bradley Hand',sans-serif;
    font-size: 80px;
    color: whitesmoke;
    text-shadow: 5px 5px 2px black;
}
.moon,
.kai,
.omo,
.rhorse {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.left {
    width: 50%;
}
.left img {
    width: 100%;
    height: 500px;
}
.right {
    width: 50%;
}
.right img {
    width: 100%;
    height: 500px;
}
.logo img {
    width: 60px;
    height: 60px;
    padding: 20px 0 0 100px;
}
.box {
    display: flex;
    margin-left: 100px;
    padding-top: 100px;
}
.inputbox {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-size: 30px;
}
.btn {
    background: olive;
    border-radius: 5px;
    color: whitesmoke;
}
.concept {
    margin: 50px 0 0 100px;
    font-size: 18px;
}
.text {
    font-size: 16px;
    padding-top: 20px;
}
.gaiyo {
    padding-top: 20px;
}
span {
    background: linear-gradient(transparent 50%, orange 50%);
}
.font {
    font-size: 15px;
    margin-top: 30px;
}
.bookbtn {
    margin-left:70px;
    background: olive;
    border-radius: 5px;
    color: whitesmoke;
}